# **Objectives**- **Introduction to SQL**
- **Hands-on**
    - [SELECT statements]
    - [Working with dates]
    - [Using JOIN]
        - [INNER JOIN]
        - [OUTER JOIN]

## **Using Chat GPT-4 (or GPT-3.5) as a coding tutor when learning this workshop on your own.**

There are several ways that GPT can help improve your self-learning process. ChatGPT can be used as a coding tutor to help:
- Explain new concepts in other words. Ask it to give basic, intermediate, or advanced explanations of coding concepts depending on your familiarity and comfort level.
- Guide you through the exercises and explain the logic and code. If you get stuck with the exercises, you can ask GPT to give you a step-by-step guide to the exercise so you better understand the learning objectives. For best results, be very specific with ChatGPT so it has the necessary context to best help you.
- Give you more exercises. If you aren't sure you understand a concept and want to test your knowledge, ask ChatGPT to give additional exercises to help test your abilities and understanding. They can be coding problems, multiple choice, fill in the blank, or whatever will work best for your learning style. Be creative and get the support you want.
The AI has infinite patience,so aska s many questions as you want!

### **The Fruit Emoji**

As you gothrough this workshop, you will notice **Fruit Emojis** embedded throughout. They accompany bolded terms that are the fundemental concepts that SQL programming is built upon. The key thing here is **if you see an emoji, consider asking ChatGPT about the bolded concept**. FOr fun, we have gamifies this by thinking of the emojis as fruits you can collect while going through the 'Introduction to SQL' garden.

- To collect all the fruits, you should follow the workshop section by section and add your found fruit (new coding concept) to the end of the following prompt and take it to ChatGPT:
  
  `You are going to take on the role of an excellent python coding tutor. I'm a beginner learning to program in python. In simple terms, please give me an overview and explanation of the following concept:`

- You can add more surrounding components to the prompts to make it more clear. For example, maybe you know another language and want ChatGPT to compare how the concept works in R or C++ to help you better understand.

### Disclaimer

"ChatGPT may produce inaccurate information about people, places, or facts." -OpenAI

- Outputs may be inaccurate, untruthful, and otherwise misleading.
- ChatGPT is not connected to the internet. (although this feature is now available with ChatGPT Plus as a beta feature)
- It has limited knowledge of world and events after September 2021.
- It may produce biased content.
- It will not cite sources.
  
Always use caution when interacting with LLM AI systems. Despite the large bounds in progress and capability, they are still in early versions and teams of people are working to fix short comings and mistakes each and every day. Despite how useful they can be as coding tutors, it is important to remember that their outputs should be met with a healthy amount of skepticism.thy amount of skepticism.

Error: Load a database to run this command.

**Retrieving Data with SELECT Statement**
1. Using SELECT statement to select data from the database. Where '*' denotes All

In [2]:
SELECT * from CUSTOMER

Error: Please load a database to perform operations

2. Using LIMIT clause to view a limited number of rows

In [3]:
SELECT * from CUSTOMER LIMIT 3

Error: Please load a database to perform operations

3. Retrieving specific columns from the table CUSTOMER by giving their name

In [ ]:
SELECT CUSTOMER_ID, NAME from CUSTOMER

4. Exploring a different table in the database

In [ ]:
SELECT * from PRODUCT

5. Adding a new column by modifying the existing column

In [ ]:
SELECT PRODUCT_ID,
DESCRIPTION,
PRICE,
PRICE * 1.25 AS TAXED_PRICE
FROM PRODUCT

6. Using the Round function here to decrease the number of decimals in the column

In [ ]:
SELECT PRODUCT_ID,
DESCRIPTION,
PRICE,
round(PRICE * 1.25) AS TAXED_PRICE
FROM PRODUCT

**Working with Dates and Times**
1. Finding the Date now

In [ ]:
SELECT DATE('now')

2. Finding the Date yesterday

In [ ]:
SELECT DATE('now', '-1 day')

3. Finding the Date in Past from now

In [ ]:
SELECT DATE('now','+3 month', '-1 day')

4. Finding the Date in Past from date in past

In [ ]:
SELECT DATE('2018-12-04','+3 month', '-1 day')

5. Finding time now in Greenwich time

In [ ]:
SELECT TIME('now')

6. Finding time difference

In [ ]:
SELECT '16:30' - '08:30'

7. Finding difference in days between 2 columns using JULIANDAY

In [4]:
SELECT ORDER_DATE, SHIP_DATE, 
(JULIANDAY(SHIP_DATE) - JULIANDAY(ORDER_DATE)) AS time_to_ship
FROM CUSTOMER_ORDER

Error: Please load a database to perform operations

**EXCERCISE 1**

Write a SQL query to find the present date by adding your AGE in years, months, and days to your birthyear 
  Hint: SELECT DATE('YYYY-MM-DD','+AGE year' ,'+no.of month','+no.of day')

Using join to combine tables **JOIN** is used to join to two tables to create a much more descriptive view of your data. In here the parent table supplies data and child table receives data.

- **INNER JOIN**: Selects records from the two tables based on a specified condition. Can use just JOIN instead
      
- **OUTER JOIN**:
    - LEFT JOIN:  Returns all rows from the left table, and the matched rows from the right table. If there are no matches, NULL values are used for the columns from the right table.
	
    - RIGHT JOIN: Returns all rows from the right table, and the matched rows from the left table. If there are no matches, NULL values are used for the columns from the left table.
	
    - FULL OUTER JOIN: Returns all rows when there is a match in either the left or right table. If there is no match, NULL values are used for missing columns.

1. Using INNER JOIN operation

In [ ]:
SELECT ORDER_ID,
CUSTOMER.CUSTOMER_ID,
ORDER_DATE,
SHIP_DATE,
NAME,
STREET_ADDRESS,
CITY,
STATE,
ZIP,
PRODUCT_ID,
ORDER_QTY

FROM CUSTOMER INNER JOIN CUSTOMER_ORDER

2. Using the ON condition to the INNER JOIN operation

In [ ]:
SELECT ORDER_ID,
CUSTOMER.CUSTOMER_ID,
ORDER_DATE,
SHIP_DATE,
NAME,
STREET_ADDRESS,
CITY,
STATE,
ZIP,
PRODUCT_ID,
ORDER_QTY

FROM CUSTOMER INNER JOIN CUSTOMER_ORDER
ON CUSTOMER.CUSTOMER_ID = CUSTOMER_ORDER.CUSTOMER_ID

3. Using LEFT JOIN operation

In [ ]:
SELECT ORDER_ID,
CUSTOMER.CUSTOMER_ID,
ORDER_DATE,
SHIP_DATE,
NAME,
STREET_ADDRESS,
CITY,
STATE,
ZIP,
PRODUCT_ID,
ORDER_QTY

FROM CUSTOMER LEFT JOIN CUSTOMER_ORDER
ON CUSTOMER.CUSTOMER_ID = CUSTOMER_ORDER.CUSTOMER_ID

4. Using RIGHT JOIN operation

In [ ]:
SELECT ORDER_ID,
CUSTOMER.CUSTOMER_ID,
ORDER_DATE,
SHIP_DATE,
NAME,
STREET_ADDRESS,
CITY,
STATE,
ZIP,
PRODUCT_ID,
ORDER_QTY

FROM CUSTOMER_ORDER RIGHT JOIN CUSTOMER
ON CUSTOMER_ORDER.CUSTOMER_ID = CUSTOMER.CUSTOMER_ID

5. Using FULL OUTER JOIN operation

In [ ]:
SELECT ORDER_ID,
CUSTOMER.CUSTOMER_ID,
ORDER_DATE,
SHIP_DATE,
NAME,
STREET_ADDRESS,
CITY,
STATE,
ZIP,
PRODUCT_ID,
ORDER_QTY

FROM CUSTOMER FULL OUTER JOIN CUSTOMER_ORDER
ON CUSTOMER.CUSTOMER_ID = CUSTOMER_ORDER.CUSTOMER_ID

**EXCERCISE 2**

Write a SQL query to JOIN the 3 tables (CUSTOMER_ORDER,PRODUCT,CUSTOMER) and return columns of customer name, customer state, customer city, customer address, order date, ship date, product name, and the price. 

    Hint: You can perform 2 join operations in the same query.
    	  Name, state, city, and address come from the CUSTOMER table,
    	  order and ship date come from CUSTOMER_ORDER table,
		  and product description and price come from the PRODUCT table

In [ ]:
SELECT CUSTOMER.NAME, 
CUSTOMER.STATE,
CUSTOMER.CITY,
CUSTOMER.STREET_ADDRESS,
ORDER_DATE, 
SHIP_DATE, 
PRODUCT.DESCRIPTION as PRODUCT_NAME, 
PRODUCT.PRICE

FROM CUSTOMER_ORDER
JOIN CUSTOMER ON CUSTOMER.CUSTOMER_ID = CUSTOMER_ORDER.CUSTOMER_ID
JOIN PRODUCT ON PRODUCT.PRODUCT_ID = CUSTOMER_ORDER.PRODUCT_ID